iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
nbclient==0.10.0
nbconvert==7.16.4
numpy==2.1.0
pandas==2.2.2
pytest==8.3.3
setuptools==73.0.1
polars==1.7.1
pylint==3.2.7
requests==2.32.3